<div class="jombotron text-center">
    <h1 class="display-3">
{{title}} 
    </h1>
<p class="lead">write your ideas for next youtube videos</p>
<a href="/ideas/add" class="btn btn-lg btn-dark">create</a>
</div>