
<div class="card card-body">
<form action="/ideas" method="POST">
  <div class="form-group">
    <label for="type">Title</label>
    <input type="text" class="form-control" required name="title">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Details</label>
    <textarea class="form-control" required name="details"></textarea>
  </div>
   
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>